{% extends 'base.html' %}

{% block title %} Форма менти {% endblock %}

{% block style %}

form {
    margin-top : 150px;
text-align : center;
}

.img0 {
    float : right;
    height : 460px;
    width : 460px;
    margin-right: 70px;

    }

.note {
text-align: right;
margin-right: 132px;
}

.h {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 150px;
}

    /* The alert message box */
.alert {
    text-align: center;
    background-color: lightskyblue;
    color: white;
    margin-bottom: 15px;
    text-align : center;

}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
@media only screen and (max-width: 700px) {

  .img0 {
    width: 600px;
    height: 450px;
    float: none;
    margin: 10px auto;
  }
}

{% endblock %}

{% block body %}

    {% for msg in get_flashed_messages()%}
    <h2>{{msg}}!!!</h2>
    {% endfor %}

    <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Обратите внимание, что для получения оповещения в чат-боте нужно сначала ему написать @MentorAppointment_bot
     </div><br>
        <div class="h">
            <div><h1>Один шаг для разговора с ментором</h1></div>
            <div><h4 class="note">Отсканируй для перехода в бота</h4></div>
        </div>
        <img src="/static/img/photos/QR_code.png" class="img0">

      <form action="/menti_request" method="post">
      <p>

        Ваше имя и фамилия<br>
        <input type="text" name="name" size="51">
      </p>
      <p>
        Телеграм для связи<br>
      <input type="text" name="telegram" size="51">
      </p>
        <p>
          Чтобы вы хотели обсудить?<br>
           <textarea name="message" required></textarea><br><br>
          <input type="submit" value="Отправить"  name="ok" class="button" >
        </p>
      </form>

{% endblock %}